<div id="dashboard"></div>
















<!-- <highcharts-chart 
  [Highcharts]="HighchartsLine"
  [options]="chartOptions"

  style="width: 600px; height: 500px; display: block;"
></highcharts-chart>

<highcharts-chart 
  [Highcharts]="HighchartsSorting"
  [options]="chartOptionsSorting"

  style="width: 600px; height: 500px; display: block;"
></highcharts-chart>

<table id="salestable">
  <thead>
    <tr>
      <th>Month</th>
      <th>Model R</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jan</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Feb</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Mar</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Apr</td>
      <td>19</td>
    </tr>
    <tr>
      <td>May</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Jun</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

<highcharts-chart
[Highcharts]="HighchartsTable"
[options]="chartOptionsTable"
></highcharts-chart>



<highcharts-chart 
  [Highcharts]="HighchartsLineDataPoints"
  [options]="chartOptionsLineDataPoints"

  style="width: 600px; height: 500px; display: block;"
></highcharts-chart>


<highcharts-chart 
  [Highcharts]="HighchartsArea"
  [options]="chartOptionsArea"

  style="width: 600px; height: 500px; display: block;"
></highcharts-chart>



<highcharts-chart 
  [Highcharts]="HighchartsPie"
  [options]="chartOptionsPie"

  style="width: 600px; height: 500px; display: block;"
></highcharts-chart>


<highcharts-chart 
  [Highcharts]="HighchartsPolar"
  [options]="chartOptionsPolar"

  style="width: 600px; height: 500px; display: block;"
></highcharts-chart> -->